<div class="row section clients topspace">
    <h2 class="section-title"><span>Auftraggeber</span></h2>
    <div class="col-lg-12">
        <p>
            <!-- <img src="images/sample_clients.png" alt=""> -->
            <img src="images/clients/Breuninger.png" alt="Breuninger Logo" href="https://www.breuninger.com/de/">
            <img src="images/clients/Europapark.png" alt="Europapark Logo" href="https://www.europapark.de/de">
            <img src="images/clients/Tripsdrill.png" alt="Tripsdrill Logo" href="https://tripsdrill.de/de/">
            <!-- <img src="images/clients/Affaltrach.png" alt="Affaltrach Logo" href="https://schlossaffaltrach.de/"> -->
            <img src="images/clients/Komet.png" alt="Komet Logo">
            <img src="images/clients/NWH.png" alt="Gemeinde Neckarwestheim Logo" href="https://www.neckarwestheim.de/startseite">
            <img src="images/clients/Rueckenspirale.png" alt="Rückenspirale Logo" href="https://rueckenspirale.de/">
            <img src="images/clients/Schunk.png" alt="Schunk Logo" href="https://schunk.com/de_de/startseite/">
            <img src="images/clients/Schick.png" alt="Schick Nudelteig Logo" href="https://www.derfeineteig.de/">
        </p>
    </div>
</div> <!-- /section -->
