<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>Hier finden Sie eine <b>Übersicht meiner Dienstleistungen</b> mit Preisen. Bei Interesse können Sie sich mich <a alt="Weiterleitung zu der Kontaktseite" titel="Weiterleitung zu der Kontaktseite" href="https://www.lesarts-mariafrank.de/kontakt/">hier</a> kontaktieren.</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="download/LesArts-MariaFrank_Angebote.pdf" class="btn btn-primary btn-lg">Download Angebote</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->

<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>Hier finden Sie mein <b>Portfolio</b> mit ausgewählten Werken verschiedener Techniken und Medien. Eine vollständige Aufzeichnung meiner Werke finden Sie auf <a alt="Weiterleitung zu der Homeseite" titel="Weiterleitung zu der Homeseite" href="https://www.lesarts-mariafrank.de/">hier</a>.</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="download/LesArts-MariaFrank_Portfolio.pdf" class="btn btn-primary btn-lg">Download Portfolio</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->
