<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>Hier finden Sie eine <b>Angebotsübersicht</b> mit Preise.</br>
                Bei Interesse können Sie sich mich <a alt="Weiterleitung zu der Kontaktseite" titel="Weiterleitung zu der Kontaktseite" href="https://www.lesarts-mariafrank.de/kontakt/">hier</a> kontaktieren.</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="download/LesArts-MariaFrank_Angebote.pdf" class="btn btn-primary btn-lg">Download Angebotsübersicht</a>
            </div>
        </div>
    </div>
</div> <!-- /section -->

<!--
<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>Hier finden Sie ein <b>Portfolio</b> mit einer ausgewählten Übersicht meiner Arbeit.</p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="download/LesArts-MariaFrank_Portfolio.pdf" class="btn btn-primary btn-lg">Download Portfolio</a>
            </div>
        </div>
    </div>
</div>
-->
