<div class="row section featured topspace">

    <h2 class="section-title"><span>Dienstleistungen</span></h2>

    <div class="">
        {{ range where .Data.Pages "Section" "service" }}
            <div class="col-sm-6 col-md-3">
                <h3 class="text-center">{{ .Title }}</h3>
                <p class="text-center">{{ .Summary }}</p>
                <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action" title="Erfahren Sie mehr über die oben aufgeführte Dienstleistung">Mehr</a></p>
            </div>
        {{ end }}
    </div>

</div> <!-- / section -->
