<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            - <em>Kunst, Design, Illustration</em> - <br>
			Ich helfe Ihnen mit einem großen Technik-Repertoire und <a href="https://www.lesarts-mariafrank.de/about/" title="Weiterleitung zu der &ldquo;Über mich&rdquo; Seite dieser Website">langjähriger Erfahrung</a> Ihre Ideen umzusetzen: <a href="https://www.lesarts-mariafrank.de/service/auftragsarbeiten/" title="Weiterleitung zu dem Angebot &ldquo;Auftragsarbeiten&rdquo; dieser Website">Auftragsarbeiten</a> oder <a href="https://www.lesarts-mariafrank.de/service/workshops/" title="Weiterleitung zu den Angeboten &ldquo;Malkurse und Workshops&rdquo; dieser Website">Anleitung zum Schaffen</a> Ihrer eigenen Werke lassen Vorstellungen Form annehmen.<br> 
			Bei Interesse freue ich mich über Ihre <a href="https://www.lesarts-mariafrank.de/kontakt/" title="Weiterleitung zu der Seite &ldquo;Kontakt&rdquo; dieser Website">Kontaktaufnahme</a>!
        </p>
    </div>
</div> 
<!-- / section -->



<div>
	<div id="cookieConsent">
		<!-- <div id="closeCookieConsent">x</div> -->
		Diese Webseite verwendet Cookies, um bestmögliche Funktionalität bieten zu können. Durch die weitere Nutzung der Webseite stimmen Sie der Verwendung von Cookies zu. Weitere Informationen zu Cookies erhalten Sie <a href="https://dsgvo-gesetz.de/art-95-dsgvo/" title="Weiterleitung zu der externen Website dsgvo-gesetz.de">hier</a>.
		<!-- <a class="cookieConsentOK">Verstanden</a> -->
	</div>
	<div><button class="cookieConsentOK" type="button">Verstanden</button></div>
</div>
