<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            - Kunst, Design, Illustration - <br>
			Ich helfe Ihnen mit einem großen Technik-Repertoire und <a href="https://www.lesarts-mariafrank.de/about/">langjähriger Erfahrung</a> Ihre Ideen umzusetzen: <a href="https://www.lesarts-mariafrank.de/service/auftragsarbeiten/">Auftragsarbeiten</a> oder <a href="https://www.lesarts-mariafrank.de/service/workshops/">Anleitung zum Schaffen</a> Ihrer eigenen Werke lassen Vorstellungen Form annehmen.<br> 
			Bei Interesse freue ich mich über Ihre <a href="https://www.lesarts-mariafrank.de/kontakt/">Kontaktaufnahme</a>!
        </p>
    </div>
</div> <!-- / section -->
